includes:
  - %rootDir%/../../juliangut/phpstan-config/phpstan-phpunit.neon

parameters:
  level: max
  parallel:
    maximumNumberOfProcesses: 7
  paths:
    - src
  ignoreErrors:
    - message: '/^Method Jgut\\Slim\\PHPDI\\Command\\ListCommand::__construct\(\) has a parameter \$container with a type declaration of DI\\Container, but containers should not be injected\.$/'
      path: src/Command/ListCommand.php
    - message: '/^Method Jgut\\Slim\\PHPDI\\Configuration::setWrapContainer\(\) has a parameter \$wrapContainer with a type declaration of Psr\\Container\\ContainerInterface, but containers should not be injected\.$/'
      path: src/Configuration.php
