<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         stopOnError="true"
         stopOnFailure="true"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="slim-php-di test suite">
            <directory>tests/PHPDI</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <php>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit>
